<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
       
    
    <customErrors defaultRedirect="GenericErrorPage.htm" mode="On">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error redirect="url404.aspx" statusCode="404" />
    </customErrors>

-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>


    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" executionTimeout="80000" maxRequestLength="819200" useFullyQualifiedRedirectUrl="false" />
    <pages enableEventValidation="false" />
  </system.web>
  <connectionStrings>
    <add name="conStr" connectionString="Data Source=xxx;Initial Catalog=xxxx;User ID=xxx;Password=xxx;" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!-- 测试 -->

    </modules>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="900000000" />
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>
