.box_calendar{ margin: 10px; padding: 10px; background: #fff; box-shadow: 0px 2px 10px rgba(0,0,0,0.05); border-radius: 5px; }
.skewon{ width: calc(100% + 20px); margin-left: -10px; height: 40px; }
.f-rili-table{ background: #fff; }

.cal_bot{ border-radius: 0px 0px 5px 5px; background: #fff; padding:10px 10px; }

.clearfiy{ height: 35px; background: #cfcfcf; border-radius: 10px; }

.clearfix {
}

.clear {
	clear: both
}


.account-box {
	background: #fff;
	padding: 0 35px 25px 25px
}

.account-title {
	border-bottom: 2px solid;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	margin-bottom: 10px
}

.f-btn-fhby {
	height: 30px;
	line-height: 30px;
	color: #f77b10;
	border: 1px solid #f77b10;
	font-size: 14px;
	display: block;
	width: 85px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 20px
}

.f-btn-jian {
	width: 35px;
    height: 35px;
    cursor: pointer;
}
.f-btn-jian i{
	width: 8px;
    height: 18px;
    background-position: -98px -177px;
}


.f-btn-jia {
	width: 35px;
    height: 35px;
    cursor: pointer;
}
.f-btn-jia i{
	width: 8px;
    height: 18px;
    background-position: -108px -177px;
}


.f-riqi {
    font-size: 17px;
    color: #fff;
    width: calc(100% - 70px);
}

.f-rili-table tbody td {
	background: #fff;
	position: relative
}

.f-rili-table tbody tr {
	border-bottom: 1px dashed #ccc
}

.f-rili-table .f-today {
	
}
.f-rili-table .f-today .f-day {
	display: block;
	width: 24px;
    height: 24px;
    border-radius: 24px;
    text-align: center;
    line-height: 24px;
    background: #de1f26;
    color: #fff;
}

.f-rili-table .c-event.f-on .f-day {
	display: block;
	width: 24px;
    height: 24px;
    border-radius: 24px;
    text-align: center;
    line-height: 24px;
    border: #de1f26 solid 1px;
}

.f-rili-table .c-event .f-dian {
	display: block;
	position: absolute;
	bottom: 2px;
	width: 5px;
    height: 5px;
    border-radius: 24px;
    background: #de1f26;
    left: 50%;
    margin-left: -2.5px;
}


.f-rili-table .c-end.f-on .f-day {
	display: block;
	width: 24px;
    height: 24px;
    border-radius: 24px;
    text-align: center;
    line-height: 24px;
    border: #cfcfcf solid 1px;
}
.f-rili-table .c-end .f-dian {
	display: block;
	position: absolute;
	bottom: 2px;
	width: 5px;
    height: 5px;
    border-radius: 24px;
    background: #cfcfcf;
    left: 50%;
    margin-left: -2.5px;
}

.f-rili-table .f-on {
}

.f-number {
	cursor: pointer
}
.f-number div{
	border: rgba(255,255,255,0) solid 2px;
	border-radius: 100px;
}

.c-event.f-today div{
	border: #20bbed solid 2px;
}

.f-rili-table {
	width: 100%
}

.f-rili-th {
	width: 14.25%;
    color: #de1f26;
    float: left;
    margin-top: 10px;
}
.f-rili-qi {
	width: 14.28%;
    color: #333333;
    float: left;
    font-size: 12px;
    padding-bottom: 10px;
    border-bottom: #eeeeee solid 1px;
}

.f-td {
	border-bottom: 1px dashed #ccc;
	float: left;
	width: 14.25%;
	height: 35px;
	position: relative
}
